@import url("/static/common/root.css");
.hero {
    height: calc(100vh - 80px);
}

.hero .btn {
    font-weight: var(--semi-bold);
    font-size: 1.2rem;
    padding: 1.2rem;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: -1;
    opacity: 1;
    background-position: center;
    zoom: 1.2;
    filter: brightness(0.5);
}

.hero-filter-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.hero-overlay {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color-light);
}
.item-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-bg-color);
    color: var(--divider-color);
    width: 40%;
    height: 4.2rem;
    border-radius: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-item:hover {
    color: var(--call-to-action-color);
    user-select: none;
    cursor: pointer;
    border-bottom: solid 0.2rem var(--call-to-action-color-hover);
}

.icon-item {
    font-size: 1.85rem;
    transition: .2s all;
}

.icon-item p {  
    font-size: 1rem;
    margin: 0;
}

.hero-subtitle {
    margin-top: 0;
    font-size: 3.0rem;
    width: 100%;
    max-width: 20rem;
    text-align: start;
}

.hero-subtitle-highlight {
    color: var(--highlight-color);
    font-weight: var(--semi-bold);
}

.item-list {
    display: flex;
    font-size: 2rem;
}

.hero-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/hero/hero-video-fallback.jpg');
    background-size: cover;
    background-position: center;
}

.hero-title img {
    width: 25rem;
}
@media (max-width: 992px) {
    .hero {
        min-height: 140vh;
    } 
    .hero-subtitle {
        font-size: 2.5rem;
        margin-left: 3rem;
    }

    .hero-title img {
        width: 20rem;
    }
}

@media (max-width: 768px) {
    .hero-overlay {
        width: 100%;
        gap: 1rem;
    }
    .hero-subtitle {
        font-size: 2rem;
        width: 100%;
        text-align: start;
    }
    .item-list {
        width: 95%;
        font-size: 1.3rem;
    }
    .item-list p {
        font-size: 0.8rem;
    }
}