@import url('../common/root.css');
#snackbar {
    visibility: hidden;
    opacity: 0;
    min-width: 2rem;
    background-color: var(--font-color-dark);
    color: var(--secondary-bg-color);
    text-align: center;
    border-radius: var(--border-radius);
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 2rem;
    font-size: 2rem;
    transition: visibility 0s, opacity 0.5s linear;
    transform: translateX(-50%);
}

#snackbar.show {
    visibility: visible;
    opacity: 1;
}

#snackbar.success {
    background-color: var(--success-background-color)
}

#snackbar.error {
    background-color: var(--error-background-color);
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}