/* DEFAULT */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--font-color-dark);
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .3s ease;
}

a:hover {
    color: var(--primary-color);
}

.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.column {
    flex-direction: column;
    text-align: center;
}

.semibold {
    font-weight: var(--semi-bold);
}


/* HEADER */

.logo-svg {
    width: 55px;
    height: 55px;
    border: var(--call-to-action-color) 3px solid;
    display: block;
    border-radius: 50%;
    color: var(--font-color-dark);
    object-fit: cover;
}

.logo-text {
    font-size: 1.1rem;
    font-weight: var(--semi-bold);
    color: var(--font-color-dark);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.header-logo {
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    background-color: var(--secondary-bg-color);
    padding: 0 10px 0 0;
    border-radius: 50px 10px 10px 50px;
    width: fit-content;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header {
    background-color: #000;
    box-shadow: var(--box-shadow-color);
    padding: 0 var(--padding-default);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}


/* SECTIONS */

.section-title {
    font-size: 2rem;
    font-weight: var(--semi-bold);
    color: var(--font-color-dark);
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 3rem;
}

.epv-open-modal {
    cursor: pointer;
    color: var(--call-to-action-color);
}

/* DIVIDERS */

.divider {
    height: 1px;
    background-color: var(--divider-color);
    margin: var(--margin-default) 0;
}

.divider-vertical {
    width: 1px;
    background-color: var(--secondary-bg-color);
    height: 24px;
}


/* BUTTONS */

.btn {
    display: flex;
}

.btn-secondary {
    background-color: var(--secondary-bg-color);
    color: var(--font-color-dark);
    border: 1px solid var(--font-color-dark);
    border-radius: 2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-secondary:hover {
    background-color: var(--call-to-action-color);
    color: var(--font-color-light);
    border: 1px solid var(--call-to-action-color);
    box-shadow: var(--box-shadow-color);
}

.btn-primary {
    background-color: var(--call-to-action-color);
    color: var(--font-color-light);
    border: none;
    border-radius: 2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-primary:hover {
    background-color: var(--call-to-action-color-hover);
    color: var(--font-color-light);
    box-shadow: var(--box-shadow-color);
}

.btn {
    transition: all .3s ease;
    user-select: none;
}

.btn:active {
    transform: scale(0.98);
}

/* Search */
.header .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .search-input {
    width: 0;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid var(--divider-color);
    outline: none;
    font-size: 1rem;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

input:focus {
    border-color: var(--call-to-action-color);
}

.header .search-input.active {
    width: 200px;
    padding: 8px;
    opacity: 1;
    visibility: visible;
    background-color: #FFF;

}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--secondary-bg-color);
    padding: 10px;
}

[data-tooltip]:hover::after {
  display: block;
  position: absolute;
  border-radius: var(--border-radius);
  content: attr(data-tooltip);
  --box-shadow-color: 0 4px 6px rgba(0, 0, 0, 0.2);
  background: var(--primary-bg-color);
  padding: .35em;
  margin-top: .55rem;
  font-size: 1rem;
  color: var(--font-color-dark);
}


/* --- Loading --- */

.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    grid-column: 1 / -1;
    height: 100%;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: var(--primary-color);
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* TEXT LIST */

.text-list {
    list-style: outside;
    padding: 0;
    margin: 0;
}

.text-list-item {
    margin-bottom: 1rem;
}
.nav-link {
    color: var(--secondary-bg-color);
}

.header-nav {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}


/* VARIABLES */

 :root {
    --primary-bg-color: #F9F9F9;
    --secondary-bg-color: #FFFFFF;
    --footer-bg-color: #F4F4F4;
    --divider-color: #333333;
    --primary-color: #55C1BE;
    --call-to-action-color: #F5A963;
    --call-to-action-color-hover: #e08c3f;
    --highlight-color: #F5A963;
    --font-color-light: #FDF2E0;
    --font-color-dark: #333333;
    --sub-font-color-dark: #666666;
    --semi-bold: 600;
    --bold: 700;
    --margin-default: 2rem;
    --padding-default: 15px;
    --border-radius: 13px;
    --box-shadow-color: 0 4px 6px rgba(0, 0, 0, 0.2);
    --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.3);
    --success-background-color: #5CB85C;
    --error-background-color: #EF5350;
}
.nav-icon {
    color: var(--secondary-bg-color);
}

.active-big-screen {
    display: inline-block;
}
.active-small-screen {
    display: none;
}

@media (max-width: 992px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .active-big-screen {
        display: none;
    }
    .active-small-screen {
        display: inline-block;
    }
    .header {
        height: 80px;
    }
    .header-logo {
        gap: 0.75rem;
        transition: all 0.3s ease;
    }

    .logo-text,
    .header-nav a,
    .divider-vertical,
    .btn,
    .nav-icon {
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        white-space: nowrap;
        max-width: 300px;
    }

    .header.search-expanded .logo-text {
        max-width: 0;
        opacity: 0;
        margin: 0;
        visibility: hidden;
    }

    .header.search-expanded .header-logo {
        background-color: #000;
        padding-right: 0;
        gap: 0;
    }

    .header.search-expanded .header-nav a,
    .header.search-expanded .divider-vertical,
    .header.search-expanded .btn,
    .header.search-expanded .nav-icon {
        width: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }
}